.registration
  %header.registration__header
    = link_to root_path, class: "logo" do
      = image_tag "logo/logo.svg", class: "top-logo"
    %nav.progress-bar
      %ol.clearfix
        %li.active
          会員情報
          .progress-status
        %li.inactive
          電話番号認証
          .progress-status
        %li.inactive
          お届け先住所入力
          .progress-status
        %li.inactive
          支払い方法
          .progress-status
        %li.last
          完了
          .progress-status

  .registration__box
    %h1 会員情報入力
    = form_with(model: @user, local: true, class: "registration__box--form") do |form|
      .content
        .form-group
          = form.label :nickname
          %span.require-tag 必須
          = form.text_field :nickname, autofocus: true, placeholder: "例) メルカリ太郎",class: "field"
          - @user.errors.full_messages_for(:nickname).each do |error|
            .span.error-msg
              = error
        .form-group
          = form.label :email
          %span.require-tag 必須
          = form.email_field :email, placeholder: "PC・携帯どちらでも可",class: "field"
          - @user.errors.full_messages_for(:email).each do |error|
            .span.error-msg
              = error
        .form-group
          = form.label :password
          %span.require-tag 必須
          = form.password_field :password, placeholder: "6文字以上",class: "field"
          - @user.errors.full_messages_for(:password).each do |error|
            .span.error-msg
              = error
        .form-group
          = form.label :password_confirmation
          %span.require-tag 必須
          = form.password_field :password_confirmation, placeholder: "6文字以上",class: "field"
          - @user.errors.full_messages_for(:encrypted_password).each do |error|
            .span.error-msg
              = error
          - @user.errors.full_messages_for(:password_confirmation).each do |error|
            .span.error-msg
              = error
        .form-group
          %h2 本人確認
          %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .form-group
          = form.label :last_name
          %span.require-tag 必須
          = form.text_field :last_name, autofocus: true, placeholder: "例) 山田",class: "field"
          - @user.errors.full_messages_for(:last_name).each do |error|
            .span.error-msg
              = error
        .form-group
          = form.label :first_name
          %span.require-tag 必須
          = form.text_field :first_name, autofocus: true, placeholder: "例) 彩",class: "field"
          - @user.errors.full_messages_for(:first_name).each do |error|
            .span.error-msg
              = error
        .form-group
          = form.label :last_name_kana
          %span.require-tag 必須
          = form.text_field :last_name_kana, autofocus: true, placeholder: "例) ヤマダ",class: "field"
          - @user.errors.full_messages_for(:last_name_kana).each do |error|
            .span.error-msg
              = error
        .form-group
          = form.label :first_name_kana
          %span.require-tag 必須
          = form.text_field :first_name_kana, autofocus: true, placeholder: "例) アヤ",class: "field"
          - @user.errors.full_messages_for(:first_name_kana).each do |error|
            .span.error-msg
              = error
        .form-group
          = form.label :birthday
          %span.require-tag 必須
          .birthday-select
            .select-wrap
              = raw sprintf(form.datetime_select(:birthday, {use_month_numbers: true, date_separator: '%s', datetime_separator: '%s', time_separator: '',  start_year: 1900, end_year: Time.now.year, default: '1900-1-1'.to_date, include_blank: '--'},{class: "birthday"}),"年","月","日")
              = fa_icon "angle-down", class: "angle-down", id: "down1"
              = fa_icon "angle-down", class: "angle-down", id: "down2"
              = fa_icon "angle-down", class: "angle-down", id: "down3"
            - @user.errors.full_messages_for(:birthday).each do |error|
              .span.error-msg
                = error

        %p.form-group__info
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .content
        .form-group
        = recaptcha_tags
        .form-group
          %p.form-group__text
            「次へ進む」のボタンを押すことにより、
            = link_to "", class: "link" do
              利用規約
            に同意したものとみなします
        = form.submit("次へ進む", class: "btn-next")
        .form-group.text-info
          %p
            = link_to "", class: "link" do
              本人情報の登録について
              = fa_icon "angle-right", class: "arrow-right"
  .registration__footer
    %nav
      %ul
        %li
          = link_to "", class: "rule-link" do
            プライバシーポリシー
        %li
          = link_to "", class: "rule-link" do
            メルカリ利用規約
        %li
          = link_to "", class: "rule-link" do
            特定商取引に関する表記
    = link_to "", class: "top-link" do
      = image_tag "logo/logo-gray.svg", class: "logo-gray"
    %h2 © 2019 Mercari
