.trading-score
  %h2
    取引画面
  .trading-score__topix
    %h3.trading-score__topix--title
      = fa_icon "grin", class: "grin"
      受取評価をしてください
    .trading-score__topix--body
      %span
        商品が発送されました。商品が到着したら、出品者の評価をしてください。
  .trading-score__info
    .trading-score__info--inbox
      購入した後の流れ >
    .trading-score__info--inbox
      購入者のよくある質問 >

  .trading-score__select
    = form_with(url: item_scores_path(@item), local: true, method: :post) do |form|
      .trading-score__select--box.clearfix
        .score-box
          = form.radio_button :type, 1
          = label :type, 1 do
            = fa_icon "grin", class: "grin"
            %br
            %span
              良い
        .score-box
          = form.radio_button :type, 2
          = label :type, 2 do
            = fa_icon "meh-o", class: "meh"
            %br
            %span
              普通
        .score-box
          = form.radio_button :type, 3
          = label :type, 3 do
            = fa_icon "frown-o", class: "frown"
            %br
            %span
              悪い
      .trading-score__select--submit
        - @score.errors.messages[:type].each do |error|
          .error-msg
            = error
        = form.submit '評価を投稿する' ,class:'btn-red'
