- if item.like_user(current_user.id)
  = link_to item_like_path(item, item.like_user(current_user)),method: :delete ,remote: true, class: "like" do
    = fa_icon "heart", class: ""
    %span いいね取り消し
    = item.likes.length
- else
  = link_to item_likes_path(item),method: :post, remote: true ,class: "like" do
    = fa_icon "heart", class: ""
    %span いいね!
    = item.likes.length

