.btn-likes
  - if user_signed_in?
    - if item.like_user(current_user)
      = link_to item_like_path(item, item.like_user(current_user)),method: :delete ,remote: true, class: "like" do
        = fa_icon "heart", class: "heart"
        %span いいね
        = item.likes.length
    - else
      = link_to item_likes_path(item),method: :post, remote: true, class: "like" do
        = fa_icon "heart"
        %span いいね
        = item.likes.length
  - else
    = link_to new_user_session_path, class: "like" do
      = fa_icon "heart"
      %span いいね
      = item.likes.length

