- breadcrumb :users
.user-container
  .user-container__during
    %section.user-container__during--user-box
      = link_to "", class:  "user-link" do
        = image_tag("member_photo_noimage_thumb.png",class: "user-link__image")
        -if current_user
          %h2
            = current_user.nickname
        - else
          %h2
            = sns_user.name
        .user-the-history
          %div
            %span
              評価
              - if current_user
                = current_user.scores.length
              - else 
                =  sns_user.scores.length
          %div
            %span
              出品数
<<<<<<< HEAD
              - if current_user
                = current_user.items.length
              - else
                =  sns_user.scores.length
    %section.container__during--user-box__todo
      %ul.container__during--user-box__todo-list
=======
              = current_user.items.length
    %section.user-container__during--user-box__todo
      %ul.user-container__during--user-box__todo-list
>>>>>>> Fippiy/master
        %li
          %h3
            = link_to "お知らせ", ""
        %li
          %h3
            = link_to "やることリスト", ""
      .tab-container
        %ul.tab-container-notification
          %li
            = link_to "", class: "item" do
              = image_tag("mercari_profile.png",class: "item-image")
              .user-item-body
                .user-item-body-text 【期間限定のお得情報】対象カテゴリーが売れたら“必ず“ポイントがもらえるキャンペーン開催中
                %time
                  %i.icon-time
                  %i.fas.fa-clock
                  %span 2日前
              %i.fa.fa-chevron-right
          .user-go-list
            = link_to "一覧を見る", ""

  .purchase-item
    .purchase-item__box
      .purchase-item__box--main
        %h1 購入した商品
        %ul.select
          %li.select__tag
            = link_to "取引中", "", class: "active"
          %li.select__tag
            = link_to "過去の取引", "", class: "differ"
        - if @items.length == 0
          = image_tag "logo-gray-icon.svg", class: "logo"
          %h2取引中の商品がありません
        - else
        %ul.show
          = render partial: "purchase"

  = render partial: 'user_side_bar'
