- breadcrumb :users
.user-container
  .user-container__during
    %section.user-container__during--user-box
      = link_to user_path(current_user), class:  "user-link" do
        = image_tag("member_photo_noimage_thumb.png",class: "user-link__image")
        %h2
          = current_user.nickname
        .user-the-history
          %div
            %span
              評価
              = current_user.scores.length
          %div
            %span
              出品数
              = current_user.items.length
    %section.container__during--user-box__todo
      %ul.container__during--user-box__todo-list
    %section.user-container__during--user-box__todo
      %ul.user-container__during--user-box__todo-list
        %li
          %h3
            = link_to "お知らせ", ""
        %li
          %h3
            = link_to "やることリスト", ""
      .tab-container
        %ul.tab-container-notification
          %li
            = link_to "", class: "item" do
              = image_tag("mercari_profile.png",class: "item-image")
              .user-item-body
                .user-item-body-text 【期間限定のお得情報】対象カテゴリーが売れたら“必ず“ポイントがもらえるキャンペーン開催中
                %time
                  %i.icon-time
                  %i.fas.fa-clock
                  %span 2日前
              %i.fa.fa-chevron-right
          .user-go-list
            = link_to "一覧を見る", ""
  .user-item
    .user-item__box
      = render partial: "purchase_area"
  = render partial: 'user_side_bar'
