- breadcrumb :purchase
.purchase-item
  .purchase-item__box
    .purchase-item__box--main
      %h1 購入した商品
      %ul.select
        %li.select__tag{ @page == 1 ? {class: "active"} : {}}
          %span
            取引中
        %li.select__tag{ @page == 2 ? {class: "active"} : {}}
          %span
            過去の取引
      .select__items{ @page == 2 ? {hidden: "hidden"} : {}}
        - if @purchase.length == 0
          = image_tag "logo-gray-icon.svg", class: "logo"
          %h2 取引中の商品がありません
        - else
          %ul.show
            = render partial: "purchase", collection: @purchase, as: "item"
      .select__items{ @page == 1 ? {hidden: "hidden"} : {}}
        - if @purchased.length == 0
          = image_tag "logo-gray-icon.svg", class: "logo"
          %h2 購入した商品がありません
        - else
          %ul.show
            = render partial: "purchased", collection: @purchased, as: "item"

    = render partial: 'user_side_bar'
