- breadcrumb :selling
.user-item
  .user-item__box
    .user-item__box--main
      %h1 出品した商品
      %ul.select
        %li.select__tag
          = link_to "出品中", "", class: "active"
        %li.select__tag
          = link_to "取引中", progress_users_path, class: "differ"
        %li.select__tag
          = link_to "売却済み", complete_users_path, class: "differ"
      - if @items.length == 0
        = image_tag "logo-gray-icon.svg", class: "logo"
        %h2出品中の商品がありません
      %ul.show
        - if @items.length >= 1
          = render partial: "selling"
    .user-item__box--button
      = link_to "", class: "button-left" do
        = fa_icon "angle-left"
      = link_to "", class: "button-right" do
        = fa_icon "angle-right"
    = render partial: 'user_side_bar'
