.user-login__page
  .user-login__page--box
    .registration
      %h1 アカウントをお持ちでない方はこちら
      = link_to new_user_path, class: "registration-btn" do
        新規会員登録
    .session
      = link_to "Facebookログイン", user_facebook_omniauth_authorize_path, class: "session-facebook"
      = link_to "Googleログイン", user_google_oauth2_omniauth_authorize_path,class: "session-google"
      - if flash[:error]
        .alert
          = flash[:error]
    = form_with(model: @user, url: new_user_session_path, method: :post, local: true, class: "login-form") do |form|
      .login-form__inner
        .form-column
          = form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
        .form-column
          = form.password_field :password, autocomplete: "current-password", placeholder: "パスワード"
        .form-column
          = recaptcha_tags
        = form.submit("ログイン", class: "login-btn")
        = link_to "", class: "forget-pass" do
          パスワードをお忘れの方
