%selection.owl-carousel
  .owl-carousel__area
    %ul.owl-carousel__area--stage
      %li.bxslider
        = image_tag 'index/banner-featured-hobby.jpg', class: "bxslider__photo"
      %li.bxslider
        = image_tag 'index/banner-new-register-2019.jpg', class: "bxslider__photo"
      %li.bxslider
        = image_tag 'index/banner-hajimeru-fortune.jpg', class: "bxslider__photo"
      %li.bxslider
        = image_tag 'index/banner-bokurano-heisei.jpg', class: "bxslider__photo"
      %li.bxslider
        = image_tag 'index/banner-bokurano-heisei-entertainment.png', class: "bxslider__photo"
