.comment-area
  - if @comments
    - @comments.each do |comment|
      %ul.comment-area__list
        %li.first-comment
          = link_to users_path, class: "user-comment__left" do
            = image_tag "items/922148154.jpg", class: "image"
          .user-comment-right
            .username
              = comment.user.nickname
            .text-box
              .text
                = comment.comment
              .icons
                = fa_icon "clock", class: "clock"
                %span.time
                  = time_ago_in_words(comment.created_at)
                  = fa_icon "flag", class: "flag"
