.comment-area
  %ul.comment-area__list
    %li.first-comment
      = link_to "", class: "user-comment__left" do
        = image_tag "items/922148154.jpg", class: "image"
      .user-comment-right
        .username
          ペンペン
        .text-box
          .text
            キター
          .icons
            = fa_icon "clock", class: "clock"
            %span 10日前
            = fa_icon "flag", class: "flag"

    - for num in 1..3 do
      %li
        = link_to "", class: "user-comment__left" do
          = image_tag "items/922148154.jpg", class: "image"

        .user-comment-right
          .username
            ペンペンペン
          .text-box
            .text
              キター
            .icons
              = fa_icon "clock", class: "clock"
              %span 24日前
              = fa_icon "flag", class: "flag"
