.other-items-item
  = link_to item_path(item) do
    .other-items-item-image
      = render "sold-tag", item: item
      = image_tag item.item_photos.first.photo.to_s, class: "photo"
    .other-items-item-box
      .other-items-item-box-title
        %h3
          = item.name
      .other-items-item-box-price
        ¥
        = item.price.to_s(:delimited)
        %br
        %p (税込)
