%h2.pickup-container__head
  ピックアップブランド
%selection.pickup-container__box
  %h3.topix
    = link_to "シャネル 新着アイテム"
  .pickup-container__box--content.clearfix
    = render partial: "pickup", collection: @chanels
  .item-all
    = link_to "すべての商品を見る"
  %h3.topix
    = link_to "ナイキ 新着アイテム"
  .pickup-container__box--content.clearfix
    = render partial: "pickup", collection: @nikes
  .item-all
    = link_to "すべての商品を見る"
  %h3.topix
    = link_to "プーマ 新着アイテム"
  .pickup-container__box--content.clearfix
    = render partial: "pickup", collection: @pumas
  .item-all
    = link_to "すべての商品を見る"
  %h3.topix
    = link_to "ルイ ヴィトン 新着アイテム"
  .pickup-container__box--content.clearfix
    = render partial: "pickup", collection: @vuittons
  .item-all
    = link_to "すべての商品を見る"
