%selection.item-box
  = link_to "items/#{pickup.id}" do
    %figure.item-box__photo
      = image_tag(pickup.item_photos.first.photo, class: "item-box__photo--banner")
    .item-box__body
      %h3.item-box__body--name
        = pickup.name
      .item-box__body--info.clearfix
        .item-price
          = "¥" + pickup.price.to_s(:delimited)
        - if pickup.likes.length > 0
          .item-like
            = link_to "" , class: "" do
              = fa_icon "heart-o"
              = pickup.likes.length
        %p.item-tax
          (税込)
