%h2.pickup-container__head
  ピックアップカテゴリー
%selection.pickup-container__box
  %h3.topix
    = link_to "レディースアイテム"
  .pickup-container__box--content.clearfix
    - @ladies.each do |item|
      = render partial: "items/pickup-container", locals: {item: item}
  .item-all
    = link_to "すべての商品を見る"
  %h3.topix
    = link_to "メンズ 新着アイテム"
  .pickup-container__box--content.clearfix
    - @menzes.each do |item|
      = render partial: "items/pickup-container", locals: {item: item}
  .item-all
    = link_to "すべての商品を見る"
  %h3.topix
    = link_to "ベビー・キッズ 新着アイテム"
  .pickup-container__box--content.clearfix
    - @babies.each do |item|
      = render partial: "items/pickup-container", locals: {item: item}
  .item-all
    = link_to "すべての商品を見る"
  %h3.topix
    = link_to "コスメ・香水・美容 新着アイテム"
  .pickup-container__box--content.clearfix
    - @cosumes.each do |item|
      = render partial: "items/pickup-container", locals: {item: item}
  .item-all
    = link_to "すべての商品を見る"
