- breadcrumb :item_show, @item
.show-item
  / 商品の詳細
  .show-item__main

    %h1.show-item__main--name
      = @item.name
    .show-item__main--content
      .item-image
        .item-image-main
          .big-photo-box
            = render "sold-tag", item: @item
            - @item.item_photos.each_with_index do |photo, number|
              = image_tag photo.photo.to_s, class: "bigs", id: "big#{number+1}"
        .item-image-sub
          - @item.item_photos.each_with_index do |photo, number|
            .image-sub
              = image_tag photo.photo.to_s, class: "mini", id: "mini#{number+1}"

      / 出品の詳細テーブル
      .item-detail-table
        = render "items/item-info"

    .show-item__main-price
      ¥
      = number_with_delimiter(@item.price)
      %span.tax
        (税込)
        %span.postage
          送料込み

    / 出品者のコメント
    .show-item__main-exhibitor-comment
      トップスの二枚セット
    - if @item.trading == 1
      = link_to "購入画面に進む",credit_path(@item),class: "show-item__main-buy-btn"
    - if @item.trading > 1
      .show-item__main-buy-btn.buy-after
        売り切れました
    %p.show-item__main-exhibitor-comment
      = @item.description

    .show-item__main-btn-container
      .show-item__main-btn-container-left
        = link_to "", class: "like" do
          = fa_icon "heart", class: ""
          %span いいね!
          = @item.likes.length
        = link_to "", class: "report" do
          = fa_icon "flag", class: ""
          %span 不適切な商品の報告
      = link_to "", class: "show-item__main-btn-container-right" do
        = fa_icon "lock", class: ""
        %span あんしん・あんぜんへの取り組み

  / ユーザー間のコメント一覧
  .show-item__user-comment
    .show-item__user-comment--box
      = render "items/comment-box"

      / コメント入力欄
      .comment-box
        .comment-detail
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.comment
        = link_to "", class: "comment-btn" do
          コメントする

  .show-item__next
    = link_to "", class: "show-item__next-item-left" do
      < ネイル用品
    = link_to "", class: "show-item__next-item-right" do
      amiibo アミーボ splatoon トリプルセット >

  / SNSボタンの欄
  .show-item__sns
    %ul.show-item__sns-contents
      %li.sns-box
        .sns-box-facebook
          = link_to "", class: "facebook" do
            = fa_icon "facebook-square", class: "fa"
      %li.sns-box
        .sns-box-twitter
          = link_to "", class: "twitter" do
            = fa_icon "twitter", class: "fa"
      %li.sns-box
        .sns-box-pinterest
          = link_to "", class: "pinterest" do
            = fa_icon "pinterest", class: "fa"
  .other
    %h2.other__title
      = link_to "", class: "other-items-title" do
        = "#{@item.saler.nickname}さんのその他の商品"
    .other-items
      = render partial: "other-items", collection: @other_user_items, as: "item"
  .other
    %h2.other__title
      =link_to "", class: "other-items-title" do
        = "#{@item.category.name_i18n}のその他の商品"
    .other-items
      = render partial: "other-items", collection: @other_category_items, as: "item"
