- breadcrumb :item_show
.show-item
  / 商品の詳細
  .show-item__main

    %h1.show-item__main--name
      トップス
    .show-item__main--content
      .item-image
        .item-image-main
          =image_tag "items/m22842714743_1.jpg", class: "big"
        .item-image-sub
          - for num in 1..4
            .image-sub
              =image_tag "items/m22842714743_1.jpg", class: "mini"

      / 出品の詳細テーブル
      .item-detail-table
        = render "items/item-info"

    .show-item__main-price
      ¥2,000
      %span.tax
        (税込)
        %span.postage
          送料込み
    = link_to "", class: "show-item__main-buy-btn" do
      購入画面に進む

    / 出品者のコメント
    .show-item__main-exhibitor-comment
      トップスの二枚セット
    .show-item__main-btn-container
      .show-item__main-btn-container-left
        = link_to "", class: "like" do
          = fa_icon "heart", class: ""
          %span いいね! 5
        = link_to "", class: "report" do
          = fa_icon "flag", class: ""
          %span 不適切な商品の報告
      = link_to "", class: "show-item__main-btn-container-right" do
        = fa_icon "lock", class: ""
        %span あんしん・あんぜんへの取り組み

  / ユーザー間のコメント一覧
  .show-item__user-comment
    .show-item__user-comment--box
      = render "items/comment-box"

      / コメント入力欄
      .comment-box
        .comment-detail
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.comment
        = link_to "", class: "comment-btn" do
          コメントする

  .show-item__next
    = link_to "", class: "show-item__next-item-left" do
      < ネイル用品
    = link_to "", class: "show-item__next-item-right" do
      amiibo アミーボ splatoon トリプルセット >

  / SNSボタンの欄
  .show-item__sns
    %ul.show-item__sns-contents
      %li.sns-box
        .sns-box-facebook
          = link_to "", class: "facebook" do
            = fa_icon "facebook-square", class: "fa"
      %li.sns-box
        .sns-box-twitter
          = link_to "", class: "twitter" do
            = fa_icon "twitter", class: "fa"
      %li.sns-box
        .sns-box-pinterest
          = link_to "", class: "pinterest" do
            = fa_icon "pinterest", class: "fa"

  / 出品者のその他の出品リスト
  .other
    =link_to "", class: "other-items-title" do
      ちゃあさんのその他の商品
    = render "items/other-items"

  / ブランドのその他のリスト
  .other
    =link_to "", class: "other-items-title" do
      アーバンリサーチのその他の商品
    = render "items/other-items"
