%header.header
  .header__inner
    .header__inner--upper.clearfix
      %h1.logo
        = link_to root_path do
          = image_tag("logo/logo.svg",alt: "mercari")
      .header-form
        %form.header-form__search
          %input{type: "search", name: "keyword", placeholder: "キーワードから探す", id: "search-form", class: "search-form"}
          = link_to "" do
            = fa_icon("search")
    .header__inner--lower.clearfix
      %nav.item-nav
        全ての商品一覧

      - if user_signed_in? || sns_user
        %nav.user-nav
          %ul.user-nav__button
            %li.user-nav__button--mypage
              = link_to users_path do
                %figure.mypage-avatar
                  %div
                    = image_tag("logo/member_photo_noimage_thumb.png")
                %div.mypage-title
                  マイページ
            %li.user-nav__button--info
              = link_to "" , class: "" do
                = fa_icon "bell-o"

                / if 件数があればだす
                %span.count-icon 9

                %span お知らせ
            %li.user-nav__button--playlist
              = link_to "" , class: "" do
                = fa_icon "check"
                %span やることリスト

      - else
        %nav.login-nav
          %ul.login-nav__button
            %li.login-nav__button--login
              = link_to "ログイン", new_user_session_path
            %li.login-nav__button--signup
              = link_to "新規登録", new_user_path
