%header.header
  .header__inner
    .header__inner--upper.clearfix
      %h1.logo
        = link_to root_path do
          = image_tag("logo/logo.svg",alt: "mercari")
      .header-form
        %form.header-form__search
          %input{type: "search", name: "keyword", placeholder: "キーワードから探す", id: "search-form", class: "search-form"}
          = link_to "" do
            = fa_icon("search")
    .header__inner--lower.clearfix
      %nav.category-nav
        カテゴリーから探す
        %ul.pulldown-parent
          - @category_roots.includes(:children).each do |category|
            %li.pulldown-parent__list
              = link_to category.name_i18n, category_path(category), class: "pulldown-parent__list--nav"
              %ul.pulldown-child
                - category.children.includes(:children).each do |child|
                  %li.pulldown-child__list{id: child.id}
                    = link_to child.name_i18n, category_path(child), class: "pulldown-child__list--nav"
                    %ul.pulldown-descendant
                      - child.children.includes(:children).each do |descendant|
                        %li.pulldown-descendant__list
                          = link_to descendant.name_i18n, category_path(descendant), class: "pulldown-child__list--nav"
          %li.pulldown-parent__list
            = link_to "カテゴリー一覧", categories_path, class: "pulldown-parent__list--nav"

      %nav.brand-nav
        ブランドから探す
        %ul.pulldown-brand
          - @brands.each do |brand|
            %li.pulldown-brand__list
              = link_to brand.name, brand_path(brand), class: "pulldown-brand__list--nav"
          %li.pulldown-brand__list
            = link_to "ブランド一覧", brands_path, class: "pulldown-brand__list--nav"


      - if user_signed_in? || sns_user
        %nav.user-nav
          %ul.user-nav__button
            %li.user-nav__button--mypage
              = link_to users_path do
                %figure.mypage-avatar
                  %div
                    = image_tag("logo/member_photo_noimage_thumb.png")
                %div.mypage-title
                  マイページ
            %li.user-nav__button--info
              = link_to "" , class: "" do
                = fa_icon "bell-o"

                / if 件数があればだす
                %span.count-icon 9

                %span お知らせ
            %li.user-nav__button--playlist
              = link_to "" , class: "" do
                = fa_icon "check"
                %span やることリスト

      - else
        %nav.login-nav
          %ul.login-nav__button
            %li.login-nav__button--login
              = link_to "ログイン", new_user_session_path
            %li.login-nav__button--signup
              = link_to "新規登録", new_user_path
