!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title メルカリ スマホでかんたん フリマアプリ
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %header.header
        .header__inner
          .header__inner--upper.clearfix
            %h1.logo
              = link_to "" do
                = image_tag("logo/logo.svg",alt: "mercari")
            %form.header-form
              %input{type: "search", name: "keyword", placeholder: "キーワードから探す", id: "search-form", class: "search-form"}
          .header__inner--lower.clearfix
            %nav.item-nav
              全ての商品一覧

            // if ログイン時
            %nav.user-nav
              %ul.user-nav__button
                %li.user-nav__button--mypage
                  = link_to "" do
                    %figure.mypage-avatar
                      %div
                        = image_tag("logo/member_photo_noimage_thumb.png")
                    %div.mypage-title
                      マイページ
                %li.user-nav__button--info
                  = link_to "" , class: "" do
                    = fa_icon "bell-o"

                    / if 件数があればだす
                    %span.count-icon 9

                    %span お知らせ
                %li.user-nav__button--playlist
                  = link_to "" , class: "" do
                    = fa_icon "check"
                    %span やることリスト

            // else 未ログイン時
            %nav.login-nav
              %ul.login-nav__button
                %li.login-nav__button--login
                  = link_to "ログイン", ""
                %li.login-nav__button--signup
                  = link_to "新規登録", ""

      / パンくずリスト
      .bread-crumbs
        = render partial: "items/menulist"


      = yield


      %aside.app-banner
        .app-banner__inner.clearfix
          .app-banner__inner--left
            %h2 スマホでかんたんフリマアプリ
            %p 今すぐ無料ダウンロード
            .logo
              %figure.logo__left
                = image_tag("logo/mercari_icon.png", width: 68)
              %ul.logo__right
                %li
                  = link_to "" do
                    = image_tag("logo/app-store.svg")
                %li.logo__right--space
                  = link_to "" do
                    = image_tag("logo/google-play.svg")
          .app-banner__inner--right
            %figure
              = image_tag("logo/download_content_pc.png", width: 300)
        %figure

      %footer
        %nav
          %ul.clearfix
            %li.footer-cell
              %h2 メルカリについて
              %ul
                %li
                  =link_to "会社概要(運営会社)"
                %li
                  = link_to "プライバシーポリシー"
                %li
                  = link_to "メルカリ利用規約"
                %li
                  = link_to "メルカリ利用規約・有償ポイントに関する特約"
                %li
                  = link_to "あんしんスマホサポート制度に関する利用特約"
                %li
                  = link_to "コンプライアンスポリシー"
                %li
                  = link_to "個人データの安全管理に係わる基本方針"
                %li
                  = link_to "特定商取引に関する表記"
                %li
                  = link_to "資金決済法に基づく表示"
                %li
                  = link_to "法令遵守と犯罪抑止のために"
                %li
                  = link_to "採用情報"
            %li.footer-cell
              %h2 メルカリを見る
              %ul
                %li
                  = link_to "カテゴリー一覧"
                %li
                  = link_to "ブランド一覧"
                %li
                  = link_to "出品地域一覧"
                %li
                  = link_to "公式ブログ"
                %li
                  = link_to "公式Twitter"
                %li
                  = link_to "公式Facebook"
            %li.footer-cell
              %h2 ヘルプ＆ガイド
              %ul
                %li
                  = link_to "メルカリガイド"
                %li
                  = link_to "メルカリロゴ利用ガイドライン"
                %li
                  = link_to "お知らせ"
                %li
                  = link_to "らくらくメルカリ便とは"
                %li
                  = link_to "ゆうゆうメルカリ便とは"
                %li
                  = link_to "大型らくらくメルカリ便とは"
                %li
                  = link_to "車体取引ガイド"
                %li
                  = link_to "返品・返金ポリシー"
                %li
                  = link_to "メルカリあんしん・あんぜん宣言！"
                %li
                  = link_to "偽ブランド品撲滅への取り組み"
                %li
                  = link_to "メルカリボックス"
            %li.footer-cell
              %h2 国
              %ul
                %li
                  = link_to "" do
                    = image_tag("logo/flag_us.png",class: "app-banner__image")
                    United States
                %li
                  = link_to "" do
                    = image_tag("logo/flag_uk.png",class: "app-banner__image")
                    United Kingdom
                %li
                  = link_to "" do
                    = image_tag("logo/flag_jp.png",class: "app-banner__image")
                    日本
        = link_to "",class: "footer-logo" do
          = image_tag("logo/logo-white.svg",alt: "mercari")
        %p.footer-copyright
          %small © 2019 Mercari

      = link_to "" , class: "fotter-seil-btn" do
        %div 出品
        = fa_icon "camera"
