!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title FreemarketSample43b
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    %link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel:"stylesheet"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
    = javascript_include_tag 'application'
  %body
    .container
      .container__logo-layout--header
        = link_to root_path, class: "logo" do
          = image_tag "logo/logo.svg", class: "top-logo"
      = yield
      .container__logo-layout--footer
        %nav
          %ul
            %li
              = link_to "", class: "rule-link" do
                プライバシーポリシー
            %li
              = link_to "", class: "rule-link" do
                メルカリ利用規約
            %li
              = link_to "", class: "rule-link" do
                特定商取引に関する表記
        = link_to root_path, class: "top-link" do
          = image_tag "logo/logo-gray.svg", class: "logo-gray"
        %h2 © 2019 Mercari
